@import '../../colors';

.app-container {

.section-cards{ 
    margin: 0px 20px;
    
    display: flex;
   flex-direction: column;
    padding-top: 90px;

    h1{
        margin-left: 45px;
        font: 400 30px "Roboto", sans-serif;;
      
      align-self: flex-start;  
    }

    .cards-container {

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
        width: 100%;

        
    }   .listar{
        padding: 10px 20px;
        width: 150px;
        margin-left: 45px;
        background-color: $vermelho;
        color: $primaria;
         border: none;
    
    }}}